@page
@model IndexModel
@{
	ViewData["Title"] = "Pizza Planeta: Invente una pizza!";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<main class="container">
		<div class="jumbotron pizza-img d-none d-md-block">
			<div class="container">
				<h1 class="text-center">Bienvenido a Pizza Planeta!</h1>
			</div>
		</div>

		<h2>Invente su propia pizza!</h2>
		<hr>
		<div class="container">
			<ul class="nav nav-pills">
				<li class="active"><a data-toggle="pill" href="#tamanoymasa"><span class="badge">1</span>Tamaño y Masa</a></li>
				<li><a data-toggle="pill" href="#ingredientes"><span class="badge">2</span>Ingredientes</a></li>
				<li><a data-toggle="pill" href="#direccion"><span class="badge">3</span>Dirección de entrega</a></li>
			</ul>
			<form action="https://webhook.site/b45b45c2-f655-4e69-805b-421bdbd2ff37" method="post">
				<div class="tab-content">
					<div id="tamanoymasa" class="tab-pane fade in active">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="panel panel-default">
									<!-- Default panel contents -->
									<div class="panel-heading">Seleccione el tamaño de su pizza</div>
									<!-- List group -->
									<ul class="list-group">
										<li class="list-group-item">Cras justo odio</li>
										<li class="list-group-item">Dapibus ac facilisis in</li>
										<li class="list-group-item">Morbi leo risus</li>
									</ul>
								</div>

								<div class="panel panel-default">
									<!-- Default panel contents -->
									<div class="panel-heading">Seleccione la masa de su pizza</div>
									<!-- List group -->
									<ul class="list-group">
										<li class="list-group-item">Cras justo odio</li>
										<li class="list-group-item">Dapibus ac facilisis in</li>
									</ul>
								</div>
							</div>
							<div class="panel-footer"></div>
						</div>
					</div>
					<div id="ingredientes" class="tab-pane fade">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="panel panel-default">
									<!-- Default panel contents -->
									<div class="panel-heading">Seleccione los ingredientes de su pizza</div>
									<!-- List group -->
									<ul class="list-group">
										<li class="list-group-item">Cras justo odio</li>
										<li class="list-group-item">Dapibus ac facilisis in</li>
										<li class="list-group-item">Morbi leo risus</li>
										<li class="list-group-item">Morbi leo risus</li>
										<li class="list-group-item">Morbi leo risus</li>
										<li class="list-group-item">Morbi leo risus</li>
										<li class="list-group-item">Morbi leo risus</li>
										<li class="list-group-item">Morbi leo risus</li>
									</ul>
								</div>
							</div>
							<div class="panel-footer"></div>
						</div>
					</div>
					<div id="direccion" class="tab-pane fade">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="panel panel-default">
									<!-- Default panel contents -->
									<div class="panel-heading">Ingrese la dirección de entrega</div>
									<div class="panel-body">
										Panel content
									</div>
								</div>
							</div>
							<div class="panel-footer text-right"><button class="float-right btn btn-success">Ver orden<i class="glyphicon glyphicon-shopping-cart"></i></button></div>
						</div>
					</div>
				</div>
			</form>
		</div>
</main>
</body>
</html>